html {
  font-family: 'Space Grotesk', sans-serif;
}

html:root {
  --mdui-color-primary: 177 209 138;
  --mdui-color-surface-tint: 177 209 138;
  --mdui-color-on-primary: 31 55 1;
  --mdui-color-primary-container: 53 78 22;
  --mdui-color-on-primary-container: 205 237 163;
  --mdui-color-secondary: 191 203 173;
  --mdui-color-on-secondary: 42 51 30;
  --mdui-color-secondary-container: 64 74 51;
  --mdui-color-on-secondary-container: 220 231 200;
  --mdui-color-tertiary: 160 208 203;
  --mdui-color-on-tertiary: 0 55 53;
  --mdui-color-tertiary-container: 31 78 75;
  --mdui-color-on-tertiary-container: 188 236 231;
  --mdui-color-error: 255 180 171;
  --mdui-color-on-error: 105 0 5;
  --mdui-color-error-container: 147 0 10;
  --mdui-color-on-error-container: 255 218 214;
  --mdui-color-background: 18 20 14;
  --mdui-color-on-background: 226 227 216;
  --mdui-color-surface: 18 20 14;
  --mdui-color-on-surface: 226 227 216;
  --mdui-color-surface-variant: 68 72 61;
  --mdui-color-on-surface-variant: 197 200 186;
  --mdui-color-outline: 143 146 133;
  --mdui-color-outline-variant: 68 72 61;
  --mdui-color-shadow: 0 0 0;
  --mdui-color-scrim: 0 0 0;
  --mdui-color-inverse-surface: 226 227 216;
  --mdui-color-inverse-on-surface: 47 49 42;
  --mdui-color-inverse-primary: 76 102 43;
  --mdui-color-primary-fixed: 205 237 163;
  --mdui-color-on-primary-fixed: 16 32 0;
  --mdui-color-primary-fixed-dim: 177 209 138;
  --mdui-color-on-primary-fixed-variant: 53 78 22;
  --mdui-color-secondary-fixed: 220 231 200;
  --mdui-color-on-secondary-fixed: 21 30 11;
  --mdui-color-secondary-fixed-dim: 191 203 173;
  --mdui-color-on-secondary-fixed-variant: 64 74 51;
  --mdui-color-tertiary-fixed: 188 236 231;
  --mdui-color-on-tertiary-fixed: 0 32 30;
  --mdui-color-tertiary-fixed-dim: 160 208 203;
  --mdui-color-on-tertiary-fixed-variant: 31 78 75;
  --mdui-color-surface-dim: 18 20 14;
  --mdui-color-surface-bright: 56 58 50;
  --mdui-color-surface-container-lowest: 12 15 9;
  --mdui-color-surface-container-low: 26 28 22;
  --mdui-color-surface-container: 30 32 26;
  --mdui-color-surface-container-high: 40 43 36;
  --mdui-color-surface-container-highest: 51 54 46;
}

.Content {
  padding: 20px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.txt {
  border-right: .1em solid white;
  width: 0.5em;
  width: 19.4ch;
  margin: 0em 1em;
  margin-left: 28px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 2s steps(21, end),
    blink-caret .5s step-end infinite alternate;
}